
  <div class="grid_11 alpha static_page">

    <div class="rounded">
      <h2>Ajuda / Perguntas Frequentes (FAQ)</h2>
      <h3><%= link_to_function "O que é o Cidade Democrática?", "$('o_que_eh').toggle()" %></h3>

      <div id="o_que_eh" style="display:none;">
        <p>É um site colaborativo, um espaço virtual onde cidadãos, gestores públicos e entidades como ONGs, empresas e universidades podem se expressar em torno de temas públicos relacionados ao dia a dia da cidade. Os usuários podem navegar por temas criados pela própria comunidade, saber o que se fala sobre os problemas e quais ideias circulam para melhorar a cidade.</p>
        <p>Você pode apoiar, dar sua opinião, divulgar boas ideias, criar propostas, apontar problemas e seguir seus temas favoritos. O Cidade Democrática agrupa assuntos e pessoas para que todos possam se comunicar e gerar mobilização.</p>
      </div>

      <h3><%= link_to_function "Como faço para participar?", "$('como_participar').toggle()" %></h3>
      <div id="como_participar" style="display:none;">
        <p>Para poder apoiar, comentar e criar propostas e problemas, basta criar seu perfil acessando <a href="http://www.cidadedemocratica.org.br/cadastro">www.cidadedemocratica.org.br/cadastro</a> e seguir as instruções.</p>
        <p>Você poderá:</p>
        <ul>
        <li>Criar propostas e problemas relacionados a qualquer tema.</li>
        <li>Apoiar propostas criadas por outros usuários.</li>
        <li>Comentar, perguntar, responder e dar idéias sobre as propostas e problemas.</li>
        <li>Divulgar uma proposta e problema por email.</li>
        <li>Criar o seu “observatório” para acompanhar os temas e locais do seu interesse.</li>
        <li>Completar seu perfil com foto e resumo.</li>
        </ul>
      </div>

      <h3><%= link_to_function "Por que o Cidade Democrática é Beta?", "$('beta').toggle()" %></h3>
      <div id="beta" style="display:none;">
        <p>Pois ele está em constante aprimoramento, tendo como base principalmente as necessidades dos usuários. Visite sempre o Cidade Democrática e você verá as novidades aparecendo.</p>
      </div>

      <h3><%= link_to_function "O que são Propostas e Problemas?", "$('o_que_propostas_problema').toggle()" %></h3>
      <div id="o_que_propostas_problema" style="display:none;">
        <p>São uma forma dos cidadãos e entidades manifestarem-se e se tornarem-se protagonistas no Cidade Democrática.</p>
        <p>Se você vê um problema na cidade ou no seu bairro, pode apontar um problema criando um título, um texto descritivo e escolhendo os temas a que se relacionam. Poderá também adicionar fotos e outros arquivos. Esta manifestação fica disponível no site e pode receber apoios e comentários de outros usuários, e assim aproximar pessoas e entidades com os mesmos interesses.</p>
        <p>O mesmo ocorre com as propostas que, ao serem criadas, funcionam como pequenas campanhas que podem ser divulgadas e receber apoios.</p>
      </div>

      <h3><%= link_to_function "Como encontrar meus assuntos de interesse?", "$('como_encontrar').toggle()" %></h3>
      <div id="como_encontrar" style="display:none;">
        <p>A navegação do Cidade Democrática é muito simples. Ele sempre mostra os principais temas em forma de “nuvem de tags”: quanto maior a palavra maior a relevância do tema.</p>
        <p>Basta clicar em um dos temas para o site mostrar todos os problemas e propostas relacionados, que podem ser organizados por ordem de relevância, alfabética ou data de criação e filtrados por tipo e criador.</p>
      </div>

      <h3><%= link_to_function "Como posso colaborar para uma cidade melhor?", "$('como_colaborar').toggle()" %></h3>
      <div id="como_colaborar" style="display:none;">
        <p>De várias formas: criando propostas e problemas, divulgando-as por e-mail ou redes sociais, apoiando propostas criadas por outros usuários, comentando, perguntando, respondendo e dando ideias.</p>
        <p>A partir da discussão e dos apoios gerados no Cidade Democrática, você pode partir para a ação no mundo real, fazendo contatos e encontrando as pessoas, apresentando suas propostas na associação do seu bairro ou na sua prefeitura, encontrando ONGs ou políticos que possam ajudar.</p>
      </div>

      <h3><%= link_to_function "Como criar uma Proposta ou Problema?", "$('como_criar').toggle()" %></h3>
      <div id="como_criar" style="display:none;">
        <p>É simples. No topo de todas as páginas existem 2 botões: “Aponte um problema” e “Crie uma proposta”.</p>
        <p>Ao clicar em um deles (você precisa ser cadastrado e fazer seu login) o site pede para que você defina um título, um texto e escolha os temas relacionados. Você poderá também localizar seu problema ou proposta na cidade ou bairro.</p>
        <p>Enquanto você digita, nosso sistema automaticamente mostra outras questões semelhantes. Se você julgar melhor, poderá apoiar propostas e problemas já criados (que sejam iguais aos seus) evitando “diluir” o tema.</p>
      </div>

      <h3><%= link_to_function "Posso editar minhas Propostas ou Problemas?", "$('posso_editar').toggle()" %></h3>
      <div id="posso_editar" style="display:none;">
        <p>Você pode editá-los apenas até 15 minutos depois de criá-los ou enquanto eles não tenham recebido nenhuma atividade (apoio ou comentário).</p>
        <p>Porque? Pois senão uma pessoa pode apoiar uma ideia que depois pode ser alterada em sua essência.</p>
        <p>Na etapa de “Propostas” dos Concursos, o criador da ideia pode editá-la de acordo com os comentários recebidos ou como quiser várias vezes até que a etapa termine. Isso porque a etapa de apoios só vai começar depois.</p>
      </div>

      <h3><%= link_to_function "Como engajar pessoas para a minha Proposta?", "$('como_engajar').toggle()" %></h3>
      <div id="como_engajar" style="display:none;">
        <p>Embaixo de cada proposta há um botão “Divulgue”. Você pode fazer uma lista de e-mails e uma breve mensagem para avisar quem você conhece sobre aquela Proposta ou Problema. O sistema enviará um e-mail com sua mensagem e o link para que a pessoa possa conhecer e interagir com a questão.</p>
        <p>Pode também escolher divulgar a proposta ou problema usando seu perfil em sua rede social preferida.</p>
      </div>

      <h3><%= link_to_function "Como os temas são definidos no site?", "$('temas_definidos').toggle()" %></h3>
      <div id="temas_definidos" style="display:none;">
        <p>O Cidade Democrática deixa os temas para a própria comunidade definir. A cada nova proposta ou problema criado o usuário define com suas próprias palavras o que mais define sua questão. O site também sugere automaticamente as palavras ligadas ao texto para facilitar sua escolha.</p>
      </div>

      <h3><%= link_to_function "O que é o meu perfil?", "$('perfil_o_que_eh').toggle()" %></h3>
      <div id="perfil_o_que_eh" style="display:none;">
        <p>Clique na aba “Meu Observatório” (você precisa ser cadastrado e fazer seu login).</p>
        <p>Você poderá indicar os temas e os locais que deseja acompanhar. Sempre que voltar a esta aba, você verá todas as atividades relacionadas aos seus interesses.</p>
        <p>Se desejar, pode optar por receber semanalmente por e-mail um resumo das atividades dos assuntos e territórios escolhidos.</p>
      </div>

      <h3><%= link_to_function "Quando foi criado?", "$('quando_foi_criado').toggle()" %></h3>
      <div id="quando_foi_criado" style="display:none;">
        <p>O portal é fruto de um trabalho que começou bem antes, mas que, em outubro de 2009 culminou na criação da primeira versão beta pública da plataforma. Desde então, muitos aprimoramentos foram incorporados e ainda há muito trabalho pela frente.</p>
      </div>

      <h3><%= link_to_function "Para que foi criado?", "$('para_que_foi_criado').toggle()" %></h3>
      <div id="para_que_foi_criado" style="display:none;">
        <p>O Cidade Democrática foi criado para que oferecer informações qualificadas sobre as demandas da sociedade associadas ao território e a temas. Partimos do pressuposto de que não havia um lugar onde as demandas oriundas do próprio tecido social estivessem sistematizadas para serem utilizadas por todos que estão envolvidos na solução de questões públicas. Por isso, decidimos abrir este espaço, dotado do que há de mais moderno em termos de tecnologia de interatividade, para que todos pudessem registrar suas questões, obter apoios, reconhecimento e fazer parte do processo de solução dos grandes problemas da nossa sociedade.</p>
      </div>

      <h3><%= link_to_function "Por quem foi criado?", "$('por_quem_foi_criado').toggle()" %></h3>
      <div id="por_quem_foi_criado" style="display:none;">
        <p>O Cidade Democrática foi criado pelo Instituto Seva que é seu proprietário e contou com a colaboração de muitos profissionais e especialistas em questões como juventude, novos modelos de negócios sustentáveis, saúde, cultura, análise de redes, empreendedorismo social, cidadania e meio ambiente.</p>
      </div>

      <h3><%= link_to_function "Como as empresas podem participar?", "$('como_as_empresas_podem_participar').toggle()" %></h3>
      <div id="como_as_empresas_podem_participar" style="display:none;">
        <p>O Cidade Democrática se manterá por meio das doações e apoios recebidos bem como dos recursos resultantes da venda de produtos e serviços.</p>
      </div>

      <h3><%= link_to_function "O Cidade Democrática está vinculado a algum partido político? Por quê?", "$('vinculado_a_algum_partido_politico').toggle()" %></h3>
      <div id="vinculado_a_algum_partido_politico" style="display:none;">
        <p>O Cidade Democrática não é um espaço apartidário, mas, para além disso, é um espaço multipartidário que acolhe todas as tendências políticas (exceto as que ferirem algum tipo de princípio legal como racismo, fascismo, intolerância quanto a qualquer forma de manifestação da individualidade humana). Acreditamos que os partidos, em função da natureza da forma de governo que se construiu, simbolizam o pensamento de uma parte das pessoas e o nosso papel é o de cuidar de um espaço onde todos possam ter voz e não apenas uma parte da sociedade.</p>
      </div>

      <h3><%= link_to_function "Qual o posicionamento político do Cidade Democrática? Esquerda, direita, neutro? Por quê?", "$('posicionamento_politico').toggle()" %></h3>
      <div id="posicionamento_politico" style="display:none;">
        <p>Nosso posicionamento, como dissemos acima, não tem qualquer tipo de tendência política. No entanto, é óbvio que a busca de um modelo aberto de democracia em que todos podem opinar, ser ouvidos, reconhecidos e fortalecer-se em função de sua ação em prol do benefício público pode ser mais facilmente identificado com bandeiras da esquerda do que da direita, mas não é isso o que nos move e sim o mérito da questão de trazer o conjunto da sociedade para um espaço compartilhado para o solucionamento das graves questões públicas e coletivas com as quais nos deparamos.</p>
      </div>

      <h3><%= link_to_function "O Cidade Democrática é apoiado por empresas privadas? De que forma?", "$('apoiado_por_empresas_privadas').toggle()" %></h3>
      <div id="apoiado_por_empresas_privadas" style="display:none;">
        <p>O Cidade Democrática poderá, receber apoios de empresas privadas de três formas: apoios ou doações que são investimentos no projeto em que a contrapartida ocorre por meio do reconhecimento deste apoio em espaços específicos (link no pé da página principal); patrocínios em que a empresa apoia o conjunto das ações do projeto; ou compra de produtos ou serviços como estudos específicos sobre as questões públicas que interessam à organização.</p>
        <p>Cabe ressaltar que estes produtos e serviços estão, desde já, à disposição de todos os usuários do portal.</p>
      </div>

      <h3><%= link_to_function "O Cidade Democrática é apoiado por órgãos governamentais?", "$('apoiado_por_orgaos_governamentais').toggle()" %></h3>

      <div id="apoiado_por_orgaos_governamentais" style="display:none;">
        <p>O Cidade Democrática poderá receber apoios de órgãos governamentais apenas por meio da compra de produtos ou serviços como estudos específicos sobre as questões públicas que interessam à organização. A natureza, abrangência e profundidade destes produtos estará sempre e de forma transparente registrada no portal.</p>
        <p>Cabe ressaltar que governos não poderão conhecer o resultado dos trabalhos de mapeamento de redes sociais que porventura sejam necessários realizar para o desenvolvimento de algum outro produto ou serviço derivado.</p>
      </div>

      <h3><%= link_to_function "O Cidade Democrática é apoiado por ONGs? De que forma?", "$('apoiado_por_ongs').toggle()" %></h3>
      <div id="apoiado_por_ongs" style="display:none;">
        <p>O Cidade Democrática poderá receber apoios de ONGs na forma de doações e também poderá receber recursos pela compra de produtos ou serviços.</p>
      </div>

      <h3><%= link_to_function "Como o Cidade Democrática se mantém?", "$('como_se_mantem').toggle()" %></h3>
      <div id="como_se_mantem" style="display:none;">
        <p>O Cidade Democrática se manterá por meio de doações, apoios recebidos na forma de patrocínios bem como dos recursos resultantes da venda de produtos e serviços, especialmente para empresas e órgãos governamentais.</p>
      </div>

      <h3><%= link_to_function "Em quais cidades o Cidade Democrática está presente?", "$('em_quais_cidades').toggle()" %></h3>
      <div id="em_quais_cidades" style="display:none;">
        <p>O Cidade Democrática registra todas as 5.565 cidades do Brasil.</p>
      </div>

    </div>
  </div>
  <div class="grid_5 omega sidebar">
  <%= render :partial => "lateral_ajuda" %>
  </div>
  
