<% title "Editar observatório" %>
<h2>Editar observatório</h2>
<%= error_messages_for :observatorio %>
<%= form_tag salvar_observatorio_url do %>
  <%= render :partial => "form" %>
  <div>
    <%= submit_tag "Salvar", :class => "btn" %> ou
    <%= link_to "Cancelar", observatorio_url %>
  </div>
<% end %>
