<% cache ["ficha_do_usuario", usuario.id, usuario.updated_at, options] do %>
  <div class="ficha_do_usuario <%= usuario.type.to_s.underscore %>">
    <p class="tipo cor_de_<%= usuario.type.to_s.underscore %>"><%= usuario.nome_do_tipo %></p>
    <div class="avatar_e_nome">
      <%= link_to_perfil_with_avatar(usuario) %>
      <p class="nome"><%= link_to usuario.nome, perfil_path(usuario) %></p>
    </div>
    <p class="principais_tags"><%= usuario.owned_tags.find(:all, :limit => 4).collect { |t| link_to(t.name, { :controller => "topicos", :action => "index", :topico_type => "topicos", :tag_id => t.id }) }.join(", ").html_safe %></p>
  </div>
<% end %>
