<h1>Editar tag</h1>

<%= form_for(@tag, :url => admin_tag_path(@tag.id)) do |f| %>
  <%= error_messages_for :tag %>
  <%= render :partial => "form", :locals => { :f => f } %>

  <%= f.submit "Salvar" %> ou
  <%= link_to "Voltar", admin_tags_path %>
<% end %>