<% if topicos_relacionados.present? -%>
<ul>
<% topicos_relacionados.each do |topico| %>
  <li class="<%= topico.display_name.underscore %>">
    <p class="titulo">
      <%= link_to truncate(topico.titulo, :length => 80),
                  topico_url(:topico_slug => topico.to_param),
                  :title => topico.titulo %>
    </p>
    <p class="detalhes">
      <span><%= topico.display_name %></span>
      <%= topico.display_name == "Problema" ? "informado" : "feita" %>
      por <%= topico.user.nome %>
    </p>
  </li>
<% end -%>
</ul>
<% else %>
<p>
  Não possui tópicos relacionados<br />
</p>
<% end %>
